/* General */
body {
  background-color: #000030;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #181818;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #000000;
}

#scrollToTopBtn {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #333;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  z-index: 9999;
}

#scrollToTopBtn.show {
  opacity: 1;
}

#scrollToTopBtn .arrow-up {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(-45deg);
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -27px;
  transition: transform 0.3s;
}

#scrollToTopBtn:hover .arrow-up {
  transform: rotate(-45deg) translateY(-2px);
}

/* Web CSS */
#mainNavigation a {
  font-family: 'Cabin', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.dropdown-menu {
  background: #03727d;
}

a.dropdown-toggle {
  color: #dfdfdf !important;
}

a.dropdown-item:hover {
  color: #03727d !important;
}

.nav-item a {
  color: #dfdfdf;
}

.nav-item a:hover {
  color: #fff;
}

.nav-item {
  min-width: 12vw;
}

#mainNavigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 123;
  padding-bottom: 120px;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to bottom, rgb(0 0 0) 0%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
}

#navbarNavDropdown.show .navbar-nav {
  padding: 12px;
}

.button-48 {
  appearance: none;
  background-color: #FFFFFF;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  border: 1px solid grey;
  float: right;
}

.button-48:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #EBEBEB;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #FFFFFF;
}

.button-48 span {
  z-index: 1;
  position: relative;
}

/* Home Section */
#inicio { 
  /*background-image: url("img/profile-background.png");*/
  background: transparent;
  background-size: cover;
  color: #fff;
  padding: 250px 100px 80px 100px;
}

.profile-image {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.profile-image img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

/* Skills Section */
#skills-css {
  padding: 110px 100px 190px 100px;
  background: linear-gradient(to top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
}

.skills-title {
  color:white;
  font-weight: 100;
  margin-bottom: 65px;
}

.logo-wrapper {
  text-align: center;
}

.logo-wrapper img {
  max-width: 100px;
  max-height: 100px;
  object-fit: contain;
}


/* Project Section */
#projects-css {
  padding-block: 200px;
  background-color: white;
}

.title-projects {
  font-weight: 100;
  text-transform: uppercase;
}

.card-shadow {
  box-shadow: 0px 2px 20px 0px black;
}

.card {
  border: none !important;
}

.card-shadow {
  transition: transform 0.3s;
}

.card-shadow:hover {
  transform: scale(1.1);
}

.card-img-top {
  transition: filter 0.3s;
  filter: grayscale(100%);
}

.card-img-top:hover {
  filter: grayscale(0%);
}

/* Experience Section */
#experience-css {
  background: linear-gradient(to top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
  padding-block: 200px;
}

.title-experience {
  font-weight: 100;
  color:white;  
}

.timeline {
  position: relative;
  overflow: hidden;
}

.line {
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 0;
  background-color: #fff;
  transform: translateX(-50%);
  transition: height 0.5s;
  z-index: 1;
}

.timeline-items {
  color: white;
  margin-top: 40px;
  list-style: none;
  padding: 0;
}

.timeline-item {
  position: relative;
  margin-bottom: 40px;
}

.timeline-item .timeline-content {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.5s, transform 0.5s;
}

.timeline-item.animate .timeline-content {
  opacity: 1;
  transform: translateX(0);
}

.timeline-item:nth-child(even) .timeline-content {
  text-align: right;
}

.timeline-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.timeline-description {
  font-size: 14px;
  margin-bottom: 10px;
}

.timeline-date {
  font-size: 14px;
}

@media (min-width: 768px) {
  .line {
    width: 1px;
  }
  
  .timeline-item {
    padding-left: 70px;
  }
}

.timeline-item.left .timeline-content {
  text-align: right;
}

.timeline-item.right .timeline-content {
  text-align: left;
}


/* Contact Section */
#contact-css {
  background: white;
  padding-block: 200px;
}

.contact-title {
  font-weight: 100;
} 

/* Footer Section */
footer {
  padding-block: 50px;
  background-color: rgb(20, 20, 20);
}

footer > .container > .row {
  place-content: center;
}