<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rufuus06 - Documentación</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../img/favicon-32x32.jpg">

    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="stylesheet" type="text/css" href="../../styles/font/flaticon.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel">
</head>


<body>

    <div class="">
        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
            <div class="container-fluid container-fluid-no-padding height-inherit">
                <a href="../../" class="navbar-custom-icon navbar-brand">
                    <img class="img-logo" src="../../img/Logo-Rufuus.png">
                </a>
                
                <button class="navbar-toggler navbar-toggler-custom" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse height-inherit" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto w-100">
                    </ul>

                    <ul id="Navigation" class="navbar-nav me-auto mb-2 mb-lg-0 navbar-custom-options">
                        <li id="li-0" class="nav-items navbar-custom-items navbar-custom-items--home">
                            <a class="home-icon-a" href="../../" onclick="location.reload()" aria-current="page">
                                <img class="home-icon home-icon-active" src="../../img/casa.png" alt="Inicio">
                            </a>
                            <a class="home-text-a" href="../../" onclick="location.reload()" aria-current="page">
                                Inicio
                            </a>
                        </li>
                        <li id="li-1" class="nav-item navbar-custom-items game-tab"><a href="../../views/game">Juego</a></li>
                        <li id="li-2" class="nav-item navbar-custom-items navbar-custom-items-active"><a href="../../views/documentacion">Documentación</a></li>
                        <li id="li-3" class="nav-item navbar-custom-items"><a href="../../views/perfil">Perfil</a></li>
                        <li id="li-4" class="nav-item navbar-custom-items"><a href="../../views/contacto">Contacto</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="main" class="main" style="height: 100%; background-image: url('../../img/backgrounds/documentacion.jpg');filter: brightness(0.3);"></div>

        <div style="width: 90px;height: 40px;background-color: rgba(11,11,11,0.1);position: fixed;margin-top: 70px;" id="menu-icon"  class="menu-icon-parent">
            <img src="../../img/menu.png" alt="menu" style="padding: 5px;float: right;">
        </div>
        <div class="c-hero-navigation slick-slider menu-slide menu-slide-style slider-home" id="menu-slide"></div>

        <main class="main-blocks"> 
            <div class="container" style="margin-top:2vh">
                <div class="row">
                    <div class="col-12" style="display: inline-flex;">
                        <div class="col-8 title-maq">Documentación</div>
                        <!-- <div class="col-4 date-maq"><p>08/05/2021</p></div> -->
                    </div>
                    <div class="col-12">
                        <hr class="white-line">
                    </div>
                    <br><br>
                </div>

                <div class="row">
                    <div class="col-8">
                        
                        <div class="row">
                            <div class="col-12 content-block">
                                <div id="child-container">
                                    <p class="title-doc">Manual de Identidad Corporativa</p>
                                    <p class="date-text date-doc">13/05/2021</p>
                                    <br>

                                    <p>Esta página esta enfocada en justificar cada concepto utilizado para el desarrollo de la web, dentro de estos conceptos explicaremos los siguientes:</p>

                                    <ul>
                                        <li>Colores Corporativos</li>
                                        <li>Tipografias</li>
                                        <li>Botones</li>
                                        <li>Logo</li>
                                        <li>Unity</li>
                                    </ul>

                                    <p>Para más información relacionada con el tema podéis contactar conmigo con la información mostrada en la pantalla Contacto.</p>
                                </div>          
                            </div>              
                        </div>
                        <br>

                        <div class="row">
                            <div class="col-12 content-block">
                                <div id="child-container">
                                    <p class="title-doc">Tipografia</p>
                                    <p class="date-text date-doc">14/05/2021</p>

                                    <div class="img-tipography-parent">
                                        <div class="img-tipography">
                                            <img src="../../img/tipografia.png" alt="Tipografia" width="100px" height="auto">
                                        </div>
                                    </div>

                                    <p>
                                        Abel es una interpretación moderna del <strong>Sans Serif</strong> condensado de lados planos. Originalmente utilizado para titulares de periódicos
                                        y carteles, este estilo también se puede utilizar para texto en la web.
                                    </p>
                                    
                                    <p>
                                        Sus terminales en ángulo y vástagos puntiagudos le dan suficiente estilo para ser único en tamaños de pantalla, mientras que su peso mono todavía 
                                       funciona bien en tamaños de texto más pequeños.
                                    </p>
                                </div>          
                            </div>              
                        </div>
                        <br>

                        <div class="row">
                            <div class="col-12 content-block">
                                <div id="child-container">
                                    <p class="title-doc">Botones</p>
                                    <p class="date-text date-doc">14/05/2021</p>

                                    <div class="contenedor-button">
                                        <span class="e-button e-button-border e-button-border-white e-button-icon-before e-button-no-margin recommended-bloq-button">
                                            <span class="e-button-text">
                                                <span class="e-icon-read"></span>
                                                Boton
                                            </span>
                                        </span>
                                    </div>

                                    <p>Este modelo de botón es el que se utiliza en esta web, presenta un fondo transparente y bordes grises.</p>
                                    
                                    <p>A la hora de situarse encima del elemento, éste cambia su fondo a negro y cambia la letra de su interior al color azul mencionado en Colores Secundarios.</p>
                                </div>          
                            </div>              
                        </div>
                        <br>

                        <div class="row" style="min-height: 100px;">
                            <div class="col-6 content-block">
                                <div id="child-container">
                                    <p class="title-doc">Logo</p>
                                    <p class="date-text date-doc">14/05/2021</p>

                                    <div class="img-logo-doc">
                                        <img src="../../img/Logo-Rufuus.png" alt="Logo" width="50px" height="auto">
                                    </div>

                                    <p>El logo de la web esta constituido con las letras de mi nickname Rufuus.</p>
                                        
                                    <p>Se trata de una superposición de todas las letras de la palabra hasta formar la imagen que veis arriba. El objetivo del diseño es que resulte sencillo y limpio, por ese motivo no dispone de colores, simplemente lineas negras.</p>
                                </div>          
                            </div>    
                            
                            <div class="col-6 content-block">
                                <div id="child-container">
                                    <p class="title-doc">Unity</p>
                                    <p class="date-text date-doc">14/05/2021</p>

                                    <div class="img-logo-doc">
                                        <img src="../../img/unity.png" alt="Logo" width="76px" height="auto">
                                        <img src="../../img/photoshop-logo.svg" alt="Logo" width="100px" height="auto">                                        
                                    </div>

                                    <p>Para desarrollar mi juego, he utilizado el programa Unity, el cual ofrece un sistema adaptado para la creación de videojuegos.</p>
                                    
                                    <p>Además, para el diseño de los Sprites, he utilizado Photosohop, herramienta muy útil para crear o editar cualquier imagen o documento.</p>
                                </div>          
                            </div>   
                        </div>
                    </div>
                    <br>

                    <div class="col-4">
                        <div class="row">
                            <div class="col-12 content-block">
                                <div id="child-container">
                                    <p class="title-doc" style="line-height: normal;">Colores Corporativos</p>
                                    <!-- <p class="date-text date-doc">14/05/2021</p> -->
                                    <br>

                                    <div class="">
                                        <div class="color-boxes" style="background-color: #1b1b1b !important"><p style="color:white !important;text-shadow: 1px 1px 1px black;">#1B1B1B</p></div>
                                        <div class="color-boxes" style="background-color: #0cf !important"><p>#0CF</p></div>
                                        <div class="color-boxes" style="background-color: white !important"><p>#FFFFFF</p></div>
                                        <div class="color-boxes" style="background-color: #efc621 !important"><p>#EFC621</p></div>
                                    </div>
                                </div>          
                            </div> 
                        </div>
                        <br>

                        <div class="row">
                            <div class="col-12 content-block">
                                <div id="child-container">
                                    <p class="title-doc" style="line-height: normal;">Color Principal</p>
                                    <!-- <p class="date-text date-doc">14/05/2021</p> -->
                                    <br>

                                    <div class="contendor-main-color">
                                        <div class="main-color" style="background-color: #1b1b1b !important;">
                                            <p>#1B1B1B</p>
                                        </div>
                                    </div>

                                    <p>
                                        El color principal elegido es este tipo de negro, llamado <strong>Nero</strong>, variante ligeramente más clara que el negro convencional.
                                        El motivo de esta elección se basa en simplemente la comodidad que proporciona a la hora de visitar la pagina.
                                    </p>
                                </div>          
                            </div> 
                        </div>
                        <br>

                        <div class="row">
                            <div class="col-12 content-block">
                                <div id="child-container">
                                    <p class="title-doc" style="line-height: normal;">Colores Secundarios</p>
                                    <!-- <p class="date-text date-doc">14/05/2021</p> -->
                                    <br>

                                    <div class="contendor-main-color" style="display: inline-flex;width: 100%;">
                                        <div class="main-color" style="background-color: #0cf !important;width: 50%;">
                                            <p style="color:black;text-shadow: none !important;">#OCF</p>
                                        </div>
                                        <div class="main-color" style="background-color: #efc621 !important;width: 50%;">
                                            <p style="color:black;text-shadow: none !important;">#EFC621</p>
                                        </div>
                                    </div>

                                    <p>Para desarrollar mi juego, he utilizado el programa Unity, el cual ofrece un sistema adaptado para la creación de videojuegos.</p>
                                       
                                    <p>Además, para el diseño de los Sprites, he utilizado Photosohop, herramienta muy útil para crear o editar cualquier imagen o documento.</p>
                                </div>          
                            </div> 
                        </div>
                        <br>

                        <div class="row">
                            <div class="col-12 content-block">
                                <div id="child-container">
                                    <p class="title-doc" style="line-height: normal;">Color Textos</p>
                                    <!-- <p class="date-text date-doc">14/05/2021</p> -->
                                    <br>

                                    <div class="contendor-main-color">
                                        <div class="main-color" style="background-color: #FFFFFF !important;">
                                            <p>#FFFFFFF</p>
                                        </div>
                                    </div>

                                    <p>Este color es el blanco común, utilizado para titulos y textos. La elección de este color se basa simplemente en que el blanco es muy detacable encima de colores oscuros como nuestro color principal.</p>

                                    <p>Cabe destacar que para que la web no se vea muy sobrecargada de texto, hemos incluido una opacidad al color blanco, acabando en ser un color mas grisáceo.</p>
                                </div>          
                            </div> 
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </main>

        <footer class="c-footer" style="margin-top: 6.4vh !important;" id="footer-elem"></footer>

    </div>
</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous"></script>

<script src="../../script-disseny.js"></script>
<script src="../../html-imports.js"></script>
<script src="../../lateral-menu.js"></script>

</html>