<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rufuus06 - Documentación</title>

    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="stylesheet" type="text/css" href="../../styles/font/flaticon.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel">
</head>

<body>

    <div class="">
        <nav class="navbar-custom">

            <a href="../../index.html" class="navbar-custom-icon">
                <img class="img-logo" src="../../img/Logo-Rufuus.png">
            </a>

            <ul id="Navigation" class="navbar-custom-options">
                <li id="li-0" class="navbar-custom-items navbar-custom-items--home">
                    <a href="../../index.html" aria-current="page">
                        <img class="home-icon home-icon-active" src="../../img/home.png" alt="" style="margin-inline: 2vh; width: 2.5vh !important; height: auto !important;">
                    </a>
                </li>
                <li id="li-1" class="navbar-custom-items"><a href="../game/index.html">Juego</a></li>
                <li id="li-2" class="navbar-custom-items navbar-custom-items-active"><a href="../documentacion/index.html">Documentación</a></li>    <!-- onclick="selectLI('2')"-->
                <li id="li-3" class="navbar-custom-items"><a href="../perfil/index.html">Perfil</a></li>
                <li id="li-4" class="navbar-custom-items"><a href="../contacto/index.html" style="margin-right: 20px;">Contacto</a></li>
            </ul>
            
        </nav>

        <div id="main" class="main" style="height: 100%; background-image: url('../../img/design.png');"></div>

        <main class="main-maq" style="position: relative;"> 
            <section class="c-blog">
                <div class="sites-constraint">
                    <div class="grid">

                        <div class="grid-item one-whole large-two-quarter">
                            <article class="c-blog-detail">

                                <div class="c-blog-detail-copy">
                                    <header class="c-blog-detail-header">
                                        <h2 class="c-blog-detail-title b-heading b-heading-large" style="font-size: 5vh !important;">Manual de Identidad Corporativa</h2>
                                        <time class="c-blog-detail-date" datetime="2021-05-11">Jueves 13 de Mayo</time>
                                    </header>

                                    <div class="b-editorial">
                                        <p>Esta página esta enfocada en justificar cada concepto utilizado para el desarrollo de la web, dentro de estos conceptos explicaremos los siguientes:</p>
                                        
                                        <ul style="color: rgb(182, 182, 182) !important; font-size: 2.3vh !important;">
                                            <li>Logo y variantes</li>
                                            <li>Colores Corporativos</li>
                                            <li>Tipografias</li>
                                            <li>Patrones, Iconos y otros elementos gráficos</li>
                                        </ul>
                                    </div>
                                </div>      

                            </article>
                        </div>

                        <div class="grid-item one-whole large-1-quarter">
                            <article class="c-blog-detail">

                                <div class="c-blog-detail-copy">
                                    <header class="c-blog-detail-header">
                                        <h2 class="c-blog-detail-title b-heading b-heading-large">Colores Corporativos</h2>
                                        <time class="c-blog-detail-date" datetime="2021-05-11">Jueves 13 de Mayo</time>
                                    </header>

                                    <div class="b-editorial" style="display: flex; margin-top: 2vh;">

                                        <div style="width: 25%; height: 23vh; background-color: #1b1b1b;"><p style="text-align: center; margin-top: 20vh; text-shadow: 1px 1px 1px black;margin-bottom: 0 !important;">#1B1B1B</p></div>
                                        <div style="width: 25%; height: 23vh; background-color: #0cf;"><p style="text-align: center; margin-top: 20vh; text-shadow: 1px 1px 1px black;margin-bottom: 0 !important;">#0CF</p></div>
                                        <div style="width: 25%; height: 23vh; background-color: white;"><p style="text-align: center; margin-top: 20vh; text-shadow: 1px 1px 1px black;margin-bottom: 0 !important;">#FFFFFF</p></div>
                                        <div style="width: 25%; height: 23vh; background-color: #efc621;"><p style="text-align: center; margin-top: 20vh; text-shadow: 1px 1px 1px black;margin-bottom: 0 !important;">#EFC621</p></div>

                                    </div>

                                    <div class="b-editorial">
                                        <p></p>
                                    </div>
                                    
                                </div>   

                            </article>

                            <article class="c-blog-detail" style="margin-top: 2vh;">

                                <div class="c-blog-detail-copy" style="padding-bottom: 5vh !important;">
                                    <header class="c-blog-detail-header">
                                        <h2 class="c-blog-detail-title b-heading b-heading-large">Color Principal</h2>
                                        <!-- <time class="c-blog-detail-date" datetime="2021-05-11">Martes 11 de Mayo</time> -->
                                    </header>

                                    <div class="b-editorial" style="display: flex; margin-top: 2vh;">

                                        <div style="width: 100%; height: 6vh; background-color: #1b1b1b;"><p style="text-align: center; margin-top: 3vh; text-shadow: 1px 1px 1px black;margin-bottom: 0 !important;">#1B1B1B</p></div>

                                    </div>

                                    <div class="b-editorial" style="margin-top: 2vh;">
                                        <p>
                                            El color principal elegido es este tipo de negro, llamado <strong>Nero</strong>, variante ligeramente más clara que el negro convencional.
                                            El motivo de esta elección se basa en simplemente la comodidad que proporciona a la hora de visitar la pagina, ya que este color no dispone 
                                            de tonos brillantes y pesados a la vista.
                                        </p>
                                    </div>
                                    
                                </div>   

                            </article>

                            <article class="c-blog-detail" style="margin-top: 2vh;">

                                <div class="c-blog-detail-copy" style="padding-bottom: 5vh !important;">
                                    <header class="c-blog-detail-header">
                                        <h2 class="c-blog-detail-title b-heading b-heading-large">Colores Secundarios</h2>
                                        <!-- <time class="c-blog-detail-date" datetime="2021-05-11">Martes 11 de Mayo</time> -->
                                    </header>

                                    <div class="b-editorial" style="display: flex; margin-top: 2vh;">

                                        <div style="width: 50%; height: 6vh; background-color: #0cf;"><p style="text-align: center; margin-top: 3vh; text-shadow: 1px 1px 1px black;margin-bottom: 0 !important;">#0CF</p></div>
                                        <div style="width: 50%; height: 6vh; background-color: #efc621;"><p style="text-align: center; margin-top: 3vh; text-shadow: 1px 1px 1px black;margin-bottom: 0 !important;">#EFC621</p></div>

                                    </div>

                                    <div class="b-editorial" style="margin-top: 5vh;">
                                        <p>
                                            El color azulado llamado <strong>Vivid Sky Blue</strong>, es usado en mi web para los elementos los cuales necesito que sean destacados.
                                            Por ejemplo, podemos encontrar dicho color en seleccionados seleccionados como botones o listas, o fechas.
                                            <br>
                                            <br>
                                            El color amarillo llamado <strong>Kode Warna Hex</strong>, es usado en mi web para aquellos elementos que se refieren a categorias de contenido o para indicar
                                            que un elemento es seleccionable, normalmente aparece una etiqueta debajo de cada imagen con esa caracteristica.
                                        </p>
                                    </div>
                                    
                                </div>   

                            </article>

                            <article class="c-blog-detail" style="margin-top: 2vh;">

                                <div class="c-blog-detail-copy" style="padding-bottom: 5vh !important;">
                                    <header class="c-blog-detail-header">
                                        <h2 class="c-blog-detail-title b-heading b-heading-large">Color Textos</h2>
                                        <!-- <time class="c-blog-detail-date" datetime="2021-05-11">Martes 11 de Mayo</time> -->
                                    </header>

                                    <div class="b-editorial" style="display: flex; margin-top: 2vh;">

                                        <div style="width: 100%; height: 6vh; background-color: white;"><p style="text-align: center; margin-top: 3vh; text-shadow: 1px 1px 1px black;margin-bottom: 0 !important;">#FFFFFF</p></div>

                                    </div>

                                    <div class="b-editorial" style="margin-top: 5vh;">
                                        <p>
                                            Este color es el blanco común, utilizado para titulos y textos. La elección de este color se basa simplemente en que el blanco es muy detacable encima
                                            de colores oscuros como nuestro color principal.
                                            <br>
                                            Cabe destacar que para que la web no se vea muy sobrecargada de texto, hemos incluido una opacidad al color blanco, acabando en ser un color mas grisáceo.
                                        </p>
                                    </div>
                                    
                                </div>   

                            </article>
                        </div>

                    </div>
                </div>
            </section>
        </main>
        
        <footer class="c-footer">
            <div class="sites-constraint sites-constraint-relative">
                <div class="grid">
                    <div class="grid-item one-whole large-one-third">
                        <div class="c-footer-twitter">
                            <h2 class="c-footer-twitter-heading b-heading b-heading-xlarge">
                                <span class="twitter">Twitter</span>
                            </h2>
                            <div class="c-footer__tweet">
                            </div>
                            <a href="http://twitter.com/rufuus06" class="e-button e-button--border e-button--border-white e-button--no-margin links">
                                <span class="e-button__text">Follow</span>
                            </a>
                        </div>
                    </div>

                    <div class="grid-item one-whole large-one-third">
                        <div class="c-footer-twitter">
                            <h2 class="c-footer-twitter-heading b-heading b-heading-xlarge" style="display: flex; justify-content: center;">
                                <span class="twitter">Instagram</span>
                            </h2>
                            <div class="c-footer__tweet">
                            </div>
                            <a href="http://instagram.com/rufuus06" class="e-button e-button--border e-button--border-white e-button--no-margin links">
                                <span class="e-button__text">Follow</span>
                            </a>
                        </div>
                    </div>

                    <div class="grid-item one-whole large-one-third">
                        <div class="c-footer-twitter">
                            <h2 class="c-footer-twitter-heading b-heading b-heading-xlarge">
                                <span class="twitter">Youtube</span>
                            </h2>
                            <div class="c-footer__tweet">
                            </div>
                            <a href="https://www.youtube.com/channel/UCBKD4L5iVcKpYUAHTVcju8w" class="e-button e-button--border e-button--border-white e-button--no-margin links">
                                <span class="e-button__text">Follow</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

<script src="../../script-disseny.js"></script>

</html>