<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rufuus06 - Maquetación</title>

    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="stylesheet" type="text/css" href="../../styles/font/flaticon.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>

<body>

    <div class="">
        <nav class="navbar-custom">

            <a href="../../index.html" class="navbar-custom-icon">
                <img class="img-logo" src="../../img/Logo-Rufuus.png">
            </a>

            <ul id="Navigation" class="navbar-custom-options">
                <li id="li-0" class="navbar-custom-items navbar-custom-items--home">
                    <a href="../../index.html" aria-current="page">
                        <img class="home-icon home-icon-active" src="../../img/home.png" alt="" style="margin-inline: 2vh; width: 2.5vh !important; height: auto !important;">
                    </a>
                </li>
                <li id="li-1" class="navbar-custom-items"><a href="../game/index.html">Juego</a></li>
                <li id="li-2" class="navbar-custom-items"><a href="../documentacion/index.html">Documentación</a></li>
                <li id="li-3" class="navbar-custom-items"><a href="../perfil/index.html">Perfil</a></li>
                <li id="li-4" class="navbar-custom-items"><a href="../contacto/index.html" style="margin-right: 20px;">Contacto</a></li>
            </ul>
            
        </nav>

        <div id="main" class="main" style="height: 100%; background-image: url('../../img/fondo3.png');"></div>
    
        <main class="main-maq" style="position: relative;"> 
            <section class="c-blog">
                <div class="sites-constraint">
                    <div class="grid">
                        <div class="grid-item one-whole large-three-quarter">
                            <article class="c-blog-detail">
                                <div class="c-blog-detail-image-container" style="display: flex !important;">
                                    <!-- <picture>
                                        <img class="c-blog-detail-image" srcset="../../img/fondo5.jpg" alt="">
                                    </picture> -->

                                    <div class="grid-item one-whole small-one-half large-one-half" style="padding-left: 0 !important; padding-bottom: 0 !important;">
                                        <article class="c-design-item" style="margin: 0 !important;">
                                            
                                            <div class="c-projects__imageWrapper">
                                                <img class="c-design-image" src="../../img/square.jpg" alt="">
                                            </div>
                                            
                                        </article>
                                    </div>

                                    <div class="grid-item one-whole small-one-half large-one-half" style="padding-left: 0 !important; padding-bottom: 0 !important;">
                                        <article class="c-design-item" style="margin: 0 !important;">
                                            
                                            <div class="c-projects__imageWrapper">
                                                <img class="c-design-image" src="../../img/square2.jpg" alt="">
                                            </div>
                                            
                                        </article>
                                    </div>
                                </div>

                                <div class="c-blog-detail-copy">
                                    <header class="c-blog-detail-header">
                                        <h2 class="c-blog-detail-title b-heading b-heading-large">Maquetación</h2>
                                        <time class="c-blog-detail-date" datetime="2021-05-11">Martes 11 de Mayo</time>
                                    </header>

                                    <div class="b-editorial">
                                        <p>El primer paso antes de comenzar a desarrollar un juego es estructurar las bases sobre ideas que pueden surgir.</p>
                                        <p>Por ejemplo, en la foto de arriba podemos observar como estructuré el mapa en 5 zonas:<br/>
                                            - Verde: Zona relacionada con mi vida personal, gustos, hobbies, etc.<br/>
                                            - Roja: Zona orientada en explicar quien soy y a que me dedico.<br/>
                                            - Naranja: Zona enfocada en mostrar con qué códigos de programación me familiarizo.<br/>
                                            - Amarillo: Zona enfocada en mostrar pequeños guiños a sitios donde he trabajado anteriormente.<br/>
                                            - Gris: Zona sin enfoque, su unico objetivo es que el jugador observe los edificios y parques de la zona.<br/>
                                            <br/>
                                            Una vez estructurado más o menos tus ideas, tu objetivo debe ser organizar tareas, para ello yo he usado Trello, plataforma donde puedes tener listados de tareas en un formato sencillo de ver.
                                            <br/>
                                            Por último para conseguir la base de tu juego, deberás cumplir primero, obviamente, aquellas tareas más generales, como por ejemplo, en mi contexto, seria crear todos los edificios, para poder ubicarlos y poder poner detalles más específicos en el escenario.
                                            <br/>
                                            Gracias a conseguir plantear de una manera clara mis ideas sobre el juego, he conseguido hacer varias cosas que tenia planeadas en muy poco tiempo.
                                            <br/>
                                        </p>
                                    </div>

                                    <div class="video-container">
                                        <iframe src="https://www.youtube.com/embed/zK0LNzU2TQI" frameborder="0" allowfullscreen=""></iframe>
                                    </div>
                                </div>                                
                            </article>
                        </div>

                        <div class="grid-item one-whole large-one-quarter">
                            <div class="c-blog-sidebar">
                                <article class="c-blog-article c-blog-article-inline">
                                    <a href="../game/index.html" class="c-blog-article-link">
                                        <div class="grid grid-article-full">
                                            <div class="grid-item one-whole">
                                                <div class="c-blog-article-thumbnail">
                                                    <picture>
                                                        <img class="c-blog-article-image" src="../../img/fondo2.jpg" alt="">
                                                    </picture>
                                                </div>
                                            </div>
        
                                            <div class="grid-item one-whole">
                                                <div class="c-blog-article-copy">
                                                    <header class="c-blog-article-header">
                                                        <h2 class="c-blog-article-title b-heading b-heading-large">Juego</h2>
                                                        <time class="c-blog-article-data" datetime="2021-05-11"></time>
                                                    </header>
                                                    
                                                    <div class="c-blog-article-summary">
                                                        <p>Visita mi portfolio desde mi juego ""!</p>
                                                    </div>
        
                                                    <span class="c-blog-article-cta e-button e-button-border e-button-border-white e-button-icon-before e-button-no-margin">
                                                        <span class="e-button-text">
                                                            <span class="e-icon-read"></span>
                                                            Jugar
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </article>

                                <article class="c-blog-article c-blog-article-inline">
                                    <a href="../diseny/index.html" class="c-blog-article-link">
                                        <div class="grid grid-article-full">
                                            <div class="grid-item one-whole">
                                                <div class="c-blog-article-thumbnail">
                                                    <picture>
                                                        <img class="c-blog-article-image" src="../../img/design.png" alt="">
                                                    </picture>
                                                </div>
                                            </div>

                                            <div class="grid-item one-whole">
                                                <div class="c-blog-article-copy">
                                                    <header class="c-blog-article-header">
                                                        <h2 class="c-blog-article-title b-heading b-heading-large">Diseño</h2>
                                                        <time class="c-blog-article-data" datetime="2021-05-11"></time>
                                                    </header>
                                                    
                                                    <div class="c-blog-article-summary">
                                                        <p>Descubre toda la información relacionada con el diseño del juego.</p>
                                                    </div>

                                                    <span class="c-blog-article-cta e-button e-button-border e-button-border-white e-button-icon-before e-button-no-margin">
                                                        <span class="e-button-text">
                                                            <span class="e-icon-read"></span>
                                                            Leer más
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </article>

                                <article class="c-blog-article c-blog-article-inline">
                                    <a href="../codigo/index.html" class="c-blog-article-link">
                                        <div class="grid grid-article-full">
                                            <div class="grid-item one-whole">
                                                <div class="c-blog-article-thumbnail">
                                                    <picture>
                                                        <img class="c-blog-article-image" src="../../img/visual.png" alt="">
                                                    </picture>
                                                </div>
                                            </div>

                                            <div class="grid-item one-whole">
                                                <div class="c-blog-article-copy">
                                                    <header class="c-blog-article-header">
                                                        <h2 class="c-blog-article-title b-heading b-heading-large">Codigos</h2>
                                                        <time class="c-blog-article-data" datetime="2021-05-11"></time>
                                                    </header>
                                                    
                                                    <div class="c-blog-article-summary">
                                                        <p>El desarrollo de mi juego no habria sido posible sin los conocimientos básicos de la programación.</p>
                                                    </div>

                                                    <span class="c-blog-article-cta e-button e-button-border e-button-border-white e-button-icon-before e-button-no-margin">
                                                        <span class="e-button-text">
                                                            <span class="e-icon-read"></span>
                                                            Leer más
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </article>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer class="c-footer">
            <div class="sites-constraint sites-constraint-relative">
                <div class="grid">
                    <div class="grid-item one-whole large-one-third">
                        <div class="c-footer-twitter">
                            <h2 class="c-footer-twitter-heading b-heading b-heading-xlarge">
                                <span class="twitter">Twitter</span>
                            </h2>
                            <div class="c-footer__tweet">
                            </div>
                            <a href="http://twitter.com/rufuus06" class="e-button e-button--border e-button--border-white e-button--no-margin links">
                                <span class="e-button__text">Follow</span>
                            </a>
                        </div>
                    </div>

                    <div class="grid-item one-whole large-one-third">
                        <div class="c-footer-twitter">
                            <h2 class="c-footer-twitter-heading b-heading b-heading-xlarge" style="display: flex; justify-content: center;">
                                <span class="twitter">Instagram</span>
                            </h2>
                            <div class="c-footer__tweet">
                            </div>
                            <a href="http://instagram.com/rufuus06" class="e-button e-button--border e-button--border-white e-button--no-margin links">
                                <span class="e-button__text">Follow</span>
                            </a>
                        </div>
                    </div>

                    <div class="grid-item one-whole large-one-third">
                        <div class="c-footer-twitter">
                            <h2 class="c-footer-twitter-heading b-heading b-heading-xlarge">
                                <span class="twitter">Youtube</span>
                            </h2>
                            <div class="c-footer__tweet">
                            </div>
                            <a href="https://www.youtube.com/channel/UCBKD4L5iVcKpYUAHTVcju8w" class="e-button e-button--border e-button--border-white e-button--no-margin links">
                                <span class="e-button__text">Follow</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>
</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

<script src="../../script-disseny.js"></script>

</html>