<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Rufuus06 - Juego</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../img/favicon-32x32.jpg">
    <link rel="stylesheet" type="text/css" href="../../styles/font/flaticon.css">
    <link rel="stylesheet" href="../../styles/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  
    <link rel="shortcut icon" href="TemplateData/favicon.ico">
    <link rel="stylesheet" href="TemplateData/style.css">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel">
  </head>
  <body>
    <nav class="navbar-custom">

      <a href="../../index.html" class="navbar-custom-icon">
          <img src="../../img/Logo-Rufuus.png" alt="" width="31px" height="40px">
      </a>

      <ul id="Navigation" class="navbar-custom-options">
          <li id="li-0" class="navbar-custom-items navbar-custom-items--home">
            <a href="../../index.html" aria-current="page">
              <img class="home-icon home-icon-active" src="../../img/home.png" alt="" style="margin-inline: 2vh; width: 2.5vh !important; height: auto !important;">
            </a>
          </li>
          <li id="li-1" class="navbar-custom-items navbar-custom-items-active"><a href="">Juego</a></li>
          <li id="li-2" class="navbar-custom-items"><a href="../documentacion/index.html">Documentación</a></li>
          <li id="li-3" class="navbar-custom-items"><a href="../perfil/index.html">Perfil</a></li>
          <li id="li-4" class="navbar-custom-items"><a href="../contacto/index.html" style="margin-right: 20px;">Contacto</a></li>
      </ul>
      
    </nav>

    <div class="c-hero-navigation slick-slider">
      <div class="slick-list">
          <div class="slick-track" role="listbox" style="opacity: 1; width: 16vh; transform: translate3d(0px, 0px, 0px);">
              <div class="slick-slide slick-active" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide10"> <!--onmouseover="showImage(0)" onmouseout="hideImage(0)">-->
                  <a href="../maquetacion/index.html" class="c-hero-navigation-item" tabindex="0" onclick="changeImage(0)">
                      <div class="c-hero-navigation-bar">
                          <img id="0" class="c-hero-navigation-thumbnail set-blackandwhite" src="../../img/fondo3.png" alt="" style="left: -4.8vh; position: relative;">
                      </div>
                      <p>Maquetación</p>
                  </a>
              </div>
              <div class="slick-slide slick-active" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide10"> <!--onmouseover="showImage(1)" onmouseout="hideImage(1)">-->
                  <a href="../diseny/index.html" class="c-hero-navigation-item" tabindex="0" onclick="changeImage(1)">
                      <div class="c-hero-navigation-bar">
                          <img id="1" class="c-hero-navigation-thumbnail set-blackandwhite" src="../../img/design.png" alt="" style="left: -4.8vh; position: relative;">
                      </div>
                      <p>Diseño</p>
                  </a>
              </div>
              <div class="slick-slide slick-active" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide10"> <!--onmouseover="showImage(2)" onmouseout="hideImage(2)">-->
                  <a href="../hobbys/index.html" class="c-hero-navigation-item" tabindex="0" onclick="changeImage(2)">
                      <div class="c-hero-navigation-bar">
                          <img id="2" class="c-hero-navigation-thumbnail set-blackandwhite" src="../../img/fondo-hobbys.jpg" alt="" style="left: -4.8vh; position: relative;">
                      </div>
                      <p>Hobbies</p>
                  </a>
              </div>
              <div class="slick-slide slick-active" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide10"> <!--onmouseover="showImage(3)" onmouseout="hideImage(3)">-->
                  <a href="../proyectos/index.html" class="c-hero-navigation-item" tabindex="0" onclick="changeImage(3)">
                      <div class="c-hero-navigation-bar">
                          <img id="3" class="c-hero-navigation-thumbnail set-blackandwhite" src="../../img/fondo-test.jpg" alt="" style="left: -4.8vh; position: relative;">
                      </div>
                      <p>Proyectos</p>
                  </a>
              </div>
              <div class="slick-slide slick-active" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide10"> <!--onmouseover="showImage(4)" onmouseout="hideImage(4)">-->
                  <a href="../codigo/index.html" class="c-hero-navigation-item" tabindex="0" onclick="changeImage(4)">
                      <div class="c-hero-navigation-bar">
                          <img id="4" class="c-hero-navigation-thumbnail set-blackandwhite" src="../../img/visual.png" alt="" style="left: -4.8vh; position: relative;">
                      </div>
                      <p>Código</p>
                  </a>
              </div>
              <div class="slick-slide slick-active" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide10"> <!--onmouseover="showImage(5)" onmouseout="hideImage(5)">-->
                  <a href="../expe/index.html" class="c-hero-navigation-item" tabindex="0" onclick="changeImage(5)">
                      <div class="c-hero-navigation-bar">
                          <img id="5" class="c-hero-navigation-thumbnail set-blackandwhite" src="../../img/fondo5.jpg" alt="" style="left: -4.8vh; position: relative;">
                      </div>
                      <p>Experiencia</p>
                  </a>
              </div>
              
          </div>
      </div>
  </div>

  <script src="../../script.js"></script>

    <div id="main" class="main" style="height: 100%; background-image: url('../../img/fondo2.jpg');"></div>
    
    <div>
      <div id="unity-container" class="unity-desktop" style="margin-top: 30px;">
        <p style="color: white;background-color: red;width: fit-content;padding: 5px;">
          Esto es el prototipo de lo que será mi portfolio en formato videojuego isométrico.
        </p>
        <canvas id="unity-canvas"></canvas>
        <div id="unity-loading-bar">
          <div id="unity-logo"></div>
          <div id="unity-progress-bar-empty">
            <div id="unity-progress-bar-full"></div>
          </div>
        </div>

        <div id="unity-mobile-warning">
          WebGL builds are not supported on mobile devices.
        </div>

        <div id="unity-footer">
          <div id="unity-fullscreen-button" style="background-color: transparent;"></div>
          <div id="unity-build-title" style="color: white;">Game-Portfoliov.2</div>
        </div>
      </div>
    </div>

      <script>
        var buildUrl = "Build";
        var loaderUrl = buildUrl + "/IMT-GAME.loader.js";
        var config = {
          dataUrl: buildUrl + "/IMT-GAME.data",
          frameworkUrl: buildUrl + "/IMT-GAME.framework.js",
          codeUrl: buildUrl + "/IMT-GAME.wasm",
          streamingAssetsUrl: "StreamingAssets",
          companyName: "DefaultCompany",
          productName: "Game-Portfoliov.2",
          productVersion: "1.0",
        };

        var container = document.querySelector("#unity-container");
        var canvas = document.querySelector("#unity-canvas");
        var loadingBar = document.querySelector("#unity-loading-bar");
        var progressBarFull = document.querySelector("#unity-progress-bar-full");
        var fullscreenButton = document.querySelector("#unity-fullscreen-button");
        var mobileWarning = document.querySelector("#unity-mobile-warning");

        if (/iPhone|iPad|iPod|Android/i.test(navigator.userAgent)) {
          container.className = "unity-mobile";
          config.devicePixelRatio = 1;
          mobileWarning.style.display = "block";
          setTimeout(() => {
            mobileWarning.style.display = "none";
          }, 5000);
        } else {
          canvas.style.width = "131.118721vh";
          canvas.style.height = "76.324201vh";
        }
        loadingBar.style.display = "block";

        var script = document.createElement("script");
        script.src = loaderUrl;
        script.onload = () => {
          createUnityInstance(canvas, config, (progress) => {
            progressBarFull.style.width = 100 * progress + "%";
          }).then((unityInstance) => {
            loadingBar.style.display = "none";
            fullscreenButton.onclick = () => {
              unityInstance.SetFullscreen(1);
            };
          }).catch((message) => {
            alert(message);
          });
        };
        document.body.appendChild(script);
      </script>
  </body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous"></script>

</html>
