<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rufuus06 - Diseño</title>

    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="stylesheet" type="text/css" href="../../styles/font/flaticon.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>

<body>

    <div class="">
        <nav class="navbar-custom">

            <a href="../../index.html" class="navbar-custom-icon">
                <img class="img-logo" src="../../img/Logo-Rufuus.png">
            </a>

            <ul id="Navigation" class="navbar-custom-options">
                <li id="li-0" class="navbar-custom-items navbar-custom-items--home">
                    <a href="../../index.html" aria-current="page">
                        <img class="home-icon home-icon-active" src="../../img/home.png" alt="" style="margin-inline: 2vh; width: 2.5vh !important; height: auto !important;">
                    </a>
                </li>
                <li id="li-1" class="navbar-custom-items"><a href="../game/index.html">Juego</a></li>
                <li id="li-2" class="navbar-custom-items"><a href="../documentacion/index.html">Documentación</a></li>
                <li id="li-3" class="navbar-custom-items"><a href="../perfil/index.html">Perfil</a></li>
                <li id="li-4" class="navbar-custom-items"><a href="../contacto/index.html" style="margin-right: 20px;">Contacto</a></li>
            </ul>
            
        </nav>

        <div id="main" class="main" style="height: 100%; background-image: url('../../img/design.png');"></div>
    

        <main id="dis" class="main-content">
            <div class="c-design-wrapper">
                <section class="c-design">
                    <div class="c-design-title">
                        <header class="c-design-header">
                            <h1 class="c-design-page-heading c-heading c-heading-xlarge">Diseño</h1>
                            <p class="c-page-subheading">Cosas Cosas Cosas CosasCosasCosasCosasCosasCosasCosasCosas</p>
                            <p class="c-page__select">Selecciona una imagen</p>
                        </header>
                    </div>

                    <section class="c-design-block">
                        <div class="site_constraint site_constraint-medium">
                            <div class="grid grid--full">
                                <div class="grid-item one-whole small-one-half large-one-half">
                                    <article class="c-design-item">
                                        <a href="#" class="c-design-link" data-toggle="modal" data-target=".bd-example-modal-lg" onclick="openModal(1)">
                                            <div class="c-projects__imageWrapper">
                                                <img class="c-design-image" src="../../img/fondo5.jpg" alt="">
                                                <span class="c-projects__underline" style="background-color: #efc621"></span>
                                                <span class="c-projects__triangle" style="background-color: #efc621"></span>
                                            </div>

                                            <div class="c-design-content">
                                                <header>
                                                    <h2 class="c-projects__title">Lorem Ipsum</h2>
                                                </header>
                                                <p class="c-projects__tags">Lorem Ipsum</p>
                                            </div>
                                        </a>
                                    </article>
                                </div>

                                <div class="grid-item one-whole small-one-half large-one-half">
                                    <article class="c-design-item c-design-item-end">
                                        <a href="#" class="c-design-link" data-toggle="modal" data-target=".bd-example-modal-lg" onclick="openModal(2)">
                                            <div class="c-projects__imageWrapper">
                                                <img class="c-design-image" src="../../img/fondo5.jpg" alt="">
                                                <span class="c-projects__underline" style="background-color: #efc621"></span>
                                                <span class="c-projects__triangle" style="background-color: #efc621"></span>
                                            </div>

                                            <div class="c-design-content">
                                                <header>
                                                    <h2 class="c-projects__title">Lorem Ipsum</h2>
                                                </header>
                                                <p class="c-projects__tags">Lorem Ipsum</p>
                                            </div>
                                        </a>
                                    </article>
                                </div>
                                
                                <div class="grid-item one-whole small-one-half large-one-half">
                                    <article class="c-design-item c-design-item-end">
                                        <a href="" class="c-design-link" data-toggle="modal" data-target=".bd-example-modal-lg" onclick="openModal(3)">
                                            <div class="c-projects__imageWrapper">
                                                <img class="c-design-image" src="../../img/fondo5.jpg" alt="">
                                                <span class="c-projects__underline" style="background-color: #efc621"></span>
                                                <span class="c-projects__triangle" style="background-color: #efc621"></span>
                                            </div>

                                            <div class="c-design-content">
                                                <header>
                                                    <h2 class="c-projects__title">Lorem Ipsum</h2>
                                                </header>
                                                <p class="c-projects__tags">Lorem Ipsum</p>
                                            </div>
                                        </a>
                                    </article>
                                </div>

                                <div class="grid-item one-whole small-one-half large-one-half">
                                    <article class="c-design-item c-design-item-end">
                                        <a href="" class="c-design-link" data-toggle="modal" data-target=".bd-example-modal-lg" onclick="openModal(4)">
                                            <div class="c-projects__imageWrapper">
                                                <img class="c-design-image" src="../../img/fondo5.jpg" alt="">
                                                <span class="c-projects__underline" style="background-color: #efc621"></span>
                                                <span class="c-projects__triangle" style="background-color: #efc621"></span>
                                            </div>

                                            <div class="c-design-content">
                                                <header>
                                                    <h2 class="c-projects__title">Lorem Ipsum</h2>
                                                </header>
                                                <p class="c-projects__tags">Lorem Ipsumh</p>
                                            </div>
                                        </a>
                                    </article>
                                </div>

                                <div class="grid-item one-whole small-one-half large-one-half">
                                    <article class="c-design-item c-design-item-end">
                                        <a href="" class="c-design-link" data-toggle="modal" data-target=".bd-example-modal-lg" onclick="openModal(5)">
                                            <div class="c-projects__imageWrapper">
                                                <img class="c-design-image" src="../../img/fondo5.jpg" alt="">
                                                <span class="c-projects__underline" style="background-color: #efc621"></span>
                                                <span class="c-projects__triangle" style="background-color: #efc621"></span>
                                            </div>

                                            <div class="c-design-content">
                                                <header>
                                                    <h2 class="c-projects__title">Lorem Ipsum</h2>
                                                </header>
                                                <p class="c-projects__tags">Lorem Ipsum</p>
                                            </div>
                                        </a>
                                    </article>
                                </div>

                                <div class="grid-item one-whole small-one-half large-one-half">
                                    <article class="c-design-item c-design-item-end">
                                        <a href="" class="c-design-link" data-toggle="modal" data-target=".bd-example-modal-lg" onclick="openModal(6)">
                                            <div class="c-projects__imageWrapper">
                                                <img class="c-design-image" src="../../img/fondo5.jpg" alt="">
                                                <span class="c-projects__underline" style="background-color: #efc621"></span>
                                                <span class="c-projects__triangle" style="background-color: #efc621"></span>
                                            </div>

                                            <div class="c-design-content">
                                                <header>
                                                    <h2 class="c-projects__title">Lorem Ipsum</h2>
                                                </header>
                                                <p class="c-projects__tags">Lorem Ipsum</p>
                                            </div>
                                        </a>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </section>

                    
                </section>
            </div>
        </main>

        <footer class="c-footer">
            <div class="sites-constraint sites-constraint-relative">
                <div class="grid">
                    <div class="grid-item one-whole large-one-third">
                        <div class="c-footer-twitter">
                            <h2 class="c-footer-twitter-heading b-heading b-heading-xlarge">
                                <span class="twitter">Twitter</span>
                            </h2>
                            <div class="c-footer__tweet">
                            </div>
                            <a href="http://twitter.com/rufuus06" class="e-button e-button--border e-button--border-white e-button--no-margin">
                                <span class="e-button__text">Follow</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" style="max-width: 136.98vh;">
              <div class="modal-content modal-style" style="border: 0.5vh solid rgba(255,255,255,0.2);">
          
                <div class="modal-header" style="border-bottom: 0.5vh solid rgba(255,255,255,0.2) !important;">
                  <h5 id="modal-header" class="modal-title h4 modal-header-style" id="myLargeModalLabel"></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color: white;">×</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div style="display: inline-block; padding-bottom: 2vh; width: 100%;">
                        <div id="modal-img" class="modal-image"></div>
                        <p id="modal-desc" class="modal-p"></p>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

<script src="../../script-disseny.js"></script>

</html>