<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rufuus06 - Diseño</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../img/favicon-32x32.jpg">

    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="stylesheet" type="text/css" href="../../styles/font/flaticon.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel">
</head>

<body>

    <div class="">
        <nav class="navbar-custom" id="top-menu"></nav>

        <div id="main" class="main" style="height: 100%; background-image: url('../../img/backgrounds/fondo-diseno-hd.png');filter: brightness(0.3);"></div>

        <div style="width: 90px;height: 40px;background-color: rgba(11,11,11,0.1);position: fixed;margin-top: 70px;" id="menu-icon"  class="menu-icon-parent">
            <img src="../../img/menu.png" alt="menu" style="padding: 5px;float: right;">
        </div>

        <div class="c-hero-navigation slick-slider menu-slide menu-slide-style  slider-home" id="menu-slide"></div>

        <main class="main-blocks-diseny">
            <div class="map-background">

                <div class="container map-title">
                    <div class="row">
                        <div class="col-12 title-dis">DISEÑO</div>
                    </div>

                    <div class="col-12" style="padding-inline: 0px !important;">
                        <hr class="white-line">
                    </div>

                    <div class="row">
                        <div class="col-12 text-dis content-block">
                            <p style="padding-inline: 80px;">Aquí te llevaremos a través de cada elemento importante de diseño en nuestro juego, desde personajes y entornos hasta mecánicas y objetos. Cada sección te proporcionará una visión general del proceso de diseño y cómo se adapta a la visión general del juego.</p>
                            <br>
                            <p>¡Explora y disfruta de nuestra página de diseño de juegos!</p>
                        </div>
                    </div>

                    <div class="row" style="justify-content: center;">
                        <div class="col-4">
                            <a href="#buildings">
                                <span class="e-button e-button-border e-button-border-white e-button-icon-before e-button-no-margin recommended-bloq-button">
                                    <span class="e-button-text">
                                        <span class="e-icon-read"></span>
                                        Edificios
                                    </span>
                                </span>
                            </a>
                        </div>

                        <div class="col-4">
                            <a href="#personaje">
                                <span class="e-button e-button-border e-button-border-white e-button-icon-before e-button-no-margin recommended-bloq-button">
                                    <span class="e-button-text">
                                        <span class="e-icon-read"></span>
                                        Personaje
                                    </span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container" style="margin-block: 150px">
                <div class="row">
                    <div class="col-12 title-dis-content">
                        <p>MI JUEGO - ¿De qué se trata?</p>
                        <hr class="white-line">
                        <br>
                    </div>

                    <div class="col-12 text-dis-expl content-block">
                        <p>El enfoque principal de "Mi Juego" es proporcionar una manera visual y creativa de mostrar un currículum. El juego se desarrolla en una pequeña ciudad que está ambientada en mi, y cada zona de la ciudad está enfocada en un aspecto diferente de mi vida personal y laboral.</p>
                        <p>El personaje jugable podrá caminar por la ciudad y explorar cada zona para descubrir más información sobre mi y mi experiencia. Desde la zona de educación hasta la zona de experiencia laboral, cada sección proporcionará detalles útiles y relevantes sobre mis habilidades y logros.</p>
                        <p>Además, el juego tiene como objetivo ser una experiencia divertida y entretenida al mismo tiempo que proporciona información valiosa para posibles empleadores o clientes. La ambientación visual y el diseño creativo de cada zona hacen que el juego sea interesante y atractivo para cualquier persona que quiera conocer más sobre mi.</p> 
                        <p>¡Espero que disfrutes explorando y aprendiendo más sobre "Mi Juego"!</p>
                    </div>
                </div>
            </div>

            <div class="container-full" id="buildings">
                <div class="row">
                    <div class="col-12 title-dis-content">
                        <p>MI JUEGO - EDIFICIOS</p>
                        <hr class="white-line">
                        <br>
                    </div>
                </div>

                <div>

                    <div class="row">
                        <div class="col-12 title-dis-content title-dis-red">
                            <p>WORK IN PROGRESS</p>
                            <br>
                        </div>
                    </div>

                    
                </div>
            </div>
        </main>

        <footer class="c-footer" style="margin-top: 6.4vh !important;" id="footer-elem"></footer>

</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

<script src="../../script-disseny.js"></script>
<script src="../../html-imports.js"></script>
<script src="../../lateral-menu.js"></script>

</html>