/* body
{
    background-image: url(../img/img1.JPG);
    background-repeat: no-repeat;
    background-size: cover;
} */

html, body {
    font-family: 'Abel' !important;
    font-variant: normal ;
    height: 100%;
    width: 100%;
    margin: 0;
}

#unity-build-title {
    font-size: 1.5vh !important;
}

/* NAVBAR */

.navbar-custom
{
    background-color: rgba(11,11,11,0.1);
    height: 50px;

    z-index: 1001;
    letter-spacing: -.25rem;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateZ(0);
    width: 100%;
}

.navbar-custom-icon
{
    height: 100%;
    width: 50px;
    z-index: 100;
    background-color: white;
    color: black;
    
    position: absolute;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
    /* transition: ; */
}

.img-logo
{
    width: 20px !important;
    height: auto;
}

.navbar-custom-options
{
    background-color: rgba(11,11,11,0.9);
    display: inline-block;
    float: right;
    list-style-type: none;
    padding: 0;
    
    height: 100%;
}

.navbar-custom-items--home
{
    display: inline-block;
    letter-spacing: 0;
    vertical-align: top;
    list-style-type: none;

    height: 100%;
}

.navbar-custom-items
{
    display: inline-block;
    letter-spacing: 0;
    vertical-align: top;
    list-style-type: none;

    height: 100%;
}

.navbar-custom-items--home a {
    padding: 0 20px !important;
}

.navbar-custom-items a 
{
    font-size: .8rem;
    /* line-height: 4.5rem; */
    padding: 0 30px;

    border: none;
    display: inline-block;
    position: relative;
    text-align: left;
    transition: all 110ms ease-in-out;
    width: auto;

    color: #fff;
    letter-spacing: 4px;
    text-decoration: none;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.navbar-custom-items--active > a {
    color: #0cf;
}

.navbar-custom-items--active > a::after {
    background-color: #0cf;
    width: 100%;
}

.navbar-custom-items ul
{
    display: none;
}

.navbar-custom-items a::after {
    background: #0cf;
    content: '';
    display: block;
    height: .0625rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    transform: translate(-50%, 0);
    transition: all 110ms ease-in-out;
}

.navbar-custom-items:hover
{
    box-shadow: inset 0 -4px 0 white;
}

.navbar-custom-items-active 
{
    box-shadow: inset 0 -4px 0 #0cf;
}

.navbar-custom-items-active a
{
    color: #0cf;
}

.navbar-custom-items a:hover
{
    color: white !important;
    /*font-weight: bold;*/
    text-decoration: none;
}

/* MAIN */

.main
{
    /* background-image: url(../img/fondo.png); */
    background-repeat: no-repeat;
    background-size: cover;   
    transition: background-image 0.7s ease-in-out;
    position: fixed;
    width: 100%;
    height: 100%;
    transform: scale(1);
    height: 100%; 
    background-position-y: 50%;
}

.zoom
{
    transform: scale(1.25) !important; 
    transition: transform 0.65s ease-in-out;
}

.main-top
{
    padding-top: 0;
}

.c-hero
{
    height: 100vh;
    max-height: none;

    z-index: 10;
    overflow: hidden;
    position: relative;
    transform: translate3d(0, 0, 0);
}

.main-content
{
    /* padding-top: 4.5rem; */
}

.main-maq
{
    padding-top: 4.5rem;
}

/* SECTION */

.c-hero-desliza
{
    z-index: 100;
}

.slick-slider .slick-track, .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}

/* MENU LATERAL */

.c-hero-navigation {
    display: block;
    position: absolute;
    bottom: 5vh;
    right: 90%;
    z-index: 100;
}

.slick-track
{
    position: relative;
    left: 0;
    top: 0;
    display: block;
    opacity: 1;
}

.c-hero-navigation-item
{
    display: block;
    margin: 0 0 2px 0;
    /* opacity: 0; */
    position: relative;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all 180ms ease-in-out;
    width: 205px;
    /* filter: grayscale(1);
    -webkit-filter: grayscale(1); */
}

.c-hero-navigation-item2
{
    display: block;
    margin: 0 0 0 0;
    /* opacity: 0; */
    position: relative;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all 180ms ease-in-out;
    width: 15.5vh;
    /* filter: grayscale(1);
    -webkit-filter: grayscale(1); */
}

.text-game
{
    position: absolute;
    display: block;
    z-index: 10;
    bottom: 20px;
    line-height: 1.5;
    font-size: .8rem;
    pointer-events: none;
    font-weight: 600; 
    color: white; 
    text-shadow: 2px 2px 1px black; 
    filter: drop-shadow(2px 4px 6px black);
    width: 100%;
    text-align: center;
    text-align: -webkit-center;
}

.text-game p {
    margin-bottom: 0px !important;
}

.set-blackandwhite {
    filter: grayscale(1);
    -webkit-filter: grayscale(100%);
    
    transition: filter 0.3s ease-in-out;
    position: relative;
}

.set-blackandwhite:hover {
    filter: grayscale(0);
    box-shadow: 1px 1px 1px 0px black;
    -webkit-filter: grayscale(0%);
}

.off-blackandwhite
{
    filter: grayscale(0) !important;
    box-shadow: 1px 1px 1px 0px black;
    -webkit-filter: grayscale(0%) !important;
}

.show
{
    /* display: block !important; */
    /* opacity: 1 !important; */
    visibility:visible !important;
    opacity: 1;
    transition: visibility 1s, opacity 1s ease-in-out;
}

.hide
{
    visibility:hidden !important;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s ease-in-out;
}

.c-hero-navigation-item p {
    display: block;
}

.animation-active .c-hero-navigation.item {
    animation: heroNavigationLoad 180ms forwards linear;
}

.animation-active .c-hero__navigation-thumbnail {
    animation: fadeIn 180ms 180ms forwards ease-in;
}

.animation-active .c-hero__navigation-item p {
    animation: fadeIn 180ms 180ms forwards ease-in;
}

.c-hero-navigation-bar {
    background: transparent;
    overflow: hidden;
    position: relative;
    width: 165px;
}

.c-hero-navigation-thumbnail
{
    height: auto;
    /* opacity: 0; */
    width: 293.45px;
}

.img-mi-juego 
{
    height: auto; 
    width: 100%;
    left:0vh !important;
}

.slick-slide
{
    width: auto !important;
}

.slick-slide img {
    display: block;
}

img {
    border: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}


.c-hero-navigation-item p {
    color: rgb(184, 184, 184);
    /* display: none; */
    font-size: .6875rem;
    /* opacity: 0; */
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 100%;
    text-transform: uppercase;
    transition: opacity 180ms linear;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    width: 100%;
    font-size: 25px;
}

.c-hero-navigation-item:hover
{
    font-weight:600;
}

/* TITLES */

.c-hero-item-content
{
    bottom: 5vh;
    right: 30px;
    width: 60%;
    z-index: 1;
    position: absolute;
    text-align: right;
}

.game-box {
    right: 30px !important; 
    bottom: 75%;
    width: 30vh; 
    box-shadow: rgb(0 0 0 / 25%) 0px 10px 27px 10px, 
                rgb(8 8 8 / 30%) 10px 9px 76px 10px;
}

.game-box-a {
    width: auto !important;
}


@media (max-width: 1440px) {
    .c-hero-item-content
    {
        bottom: 5vh;
        right: 3.8vh;
        width: 60%;
        z-index: 1;
        position: absolute;
        text-align: right;
    }

    .e-button {
        font-size: 12px !important;
    }

    .c-hero-article p {
        font-size: 18px !important;
        line-height: 30px !important;
    }
    
    .b-heading-xlarge {
        font-size: 3rem !important;
    }

    .c-hero-sub-heading {
        font-size: 1rem !important;
        margin-bottom: 0.5rem !important;
    }

    .c-hero-navigation-item {
        width: 110px !important;
    }
    
    .c-hero-navigation-bar {
        width: 90px !important;
    }
    
    .c-hero-navigation-thumbnail {
        width: 150px !important;
    }

    .c-hero-navigation-item p {
        font-size: 14px !important;
    }

    .game-box {
        width: 200px !important;        
        bottom: calc(100% - 190px) !important;
    }

    .text-game {
        font-size: 11px !important;
        bottom: 20px !important;
    }

    .navbar-custom-items a {
        font-size: 12px !important;
    }

    .home-icon {
        width: 15px !important;
    }
}

.c-hero-sub-heading
{
    font-size: 1rem;
    line-height: 1.4;

    font-family: 'Abel';

    margin-bottom: .3125rem;
}

.b-heading 
{
    font-family: 'Abel';
    /* font-size: 2.0625rem; */
    line-height: 1.2;
}

.b-heading-sub
{
    color: #0cf;
    letter-spacing: 0;
    text-transform: uppercase;
    line-height: 1.4;
}

.c-hero-heading {
    margin-bottom: 0;
    text-transform: uppercase;
    line-height: 1.1;
}

.b-heading-xlarge {
    letter-spacing: .1vh;
    line-height: 1.1;
    margin-bottom: 1.25rem;
    
    font-size: 4rem;
    line-height: 1.2;
    color: #fff;
    font-weight: 200;
    line-height: 1.1;
    margin-bottom: 1.5vh;
    -webkit-font-smoothing: antialiased;
}

.c-hero-article {
    color: #fff;
    float: right;
    opacity: 0.6;
    max-width: 900px;
}

.c-hero-article p {
    font-size: 1rem;
    text-shadow: 2px 2px 2px black;
    line-height: 40px;
}

p {
    margin-bottom: 1.875rem;
}

.c-hero-cta {
    clear: both;
    float: right;
    width: 230px;
}

.e-button-icon-before {
    padding: 0 0 .75rem 0;
}

.e-button-no-margin {
    margin: 0 !important;
}

.e-button-border-white {
    border: 0.5vh solid rgba(255,255,255,0.2);
    position: relative;
}

.e-button {
    margin-bottom: 1.25rem;
    appearance: none;
    background: none;
    border-radius: 0;
    color: #fff;
    display: inline-block;
    font-family: sans-serif;
    font-weight: 200;
    font-size: .8rem;
    letter-spacing: .225vh;
    line-height: 1;
    margin-right: .9375rem;
    padding: 1vh 0 1vh 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: background 180ms ease-in-out, color 180ms ease-in-out, border 180ms ease-in-out;
    transform: translate3d(0, 0, 0);
    width: 100%;
}

.e-button:hover
{
    background-color: rgba(11,11,11,0.9) !important;
    color: #0cf !important;
}

.btn-game>div>div>div>span:hover
{
    background-color: rgba(11,11,11,0.9) !important;
    color: #0cf !important;
}

/* background-color: rgba(11,11,11,0.9) !important;
color: #0cf !important; */

.c-hero-sub-heading::before {
    background: #fff;
    content: '';
    height: 2px;
    position: absolute;
    top: -15px;
    right: 0px;
    width: 40px;
}

/* DESIGN */

.c-design-wrapper
{
    /* padding-top: 2.5rem; */
}

.c-design-title
{
    padding-left: 0;
    padding-right: 0;

    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.c-design-header
{
    align-items: end;
    display: flex;
    padding-bottom: 4vh;
    text-align: left;
    padding-top: 17vh;
    position: relative;
}

.c-design-page-heading
{
    font-size: 4vh;
    margin-bottom: 0;

    display: inline-block;
    /* padding-top: 3.125rem; */
}

.c-heading
{
    font-family: 'Abel';
}

.c-heading-xlarge
{
    color: #fff;
    font-weight: 200;
}

.c-page-subheading
{
    font-size: 1.5vh;
    line-height: 1.4;
    max-width: 90vh;
    color: white;
    position: absolute;
    bottom: 42px;
    left: 215px;
}

.c-page__select {
    font-size: 1vh;
    float: right;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    bottom: 42px;
    color: #999;
}

.c.design-block
{
    padding-top: 0;
}

.site_constraint 
{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.site_constraint-medium
{
    padding: 0;
    padding-left: 0;
    padding-right: 0;
}

.grid 
{
    list-style: none;
    margin: 0;
    padding: 0;
    letter-spacing: -0.75vh;
}


.grid-item
{
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    letter-spacing: normal;
    word-spacing: normal;
} 

.one-whole
{
    width: 100%;
} 

.small-one-half 
{
    width: 50%; 
}

.large-one-half
{
    width: 50%;
}

.c-design-item
{
    margin: 0 0 3.8vh 0;

    overflow: hidden;
    position: relative;
    vertical-align: top;
}

.c-design-link
{
    display: block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
}

.c-design-link:hover
{
    text-decoration: none;
    font-weight: 500;
}

.c-projects__imageWrapper {
    overflow: hidden;
    position: relative;
}

.c-design-image
{
    display: block;
    width: 100%;
    transition: all 180ms ease-in-out, transform 500ms ease-in-out, filter 500ms ease-in-out;
}

.c-projects__underline {
    z-index: 100;
    background: inherit;
    content: '';
    display: block;
    height: 0.3vh;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
}

.c-projects__triangle {
    z-index: 11;
    background: #000;
    content: '';
    display: block;
    height: 6.08vh;
    opacity: 0;
    position: absolute;
    bottom: -3.04vh;
    right: -3.04vh;
    transform: rotate(45deg);
    width: 6.08vh;
}

.c-design-content
{
    text-shadow: 2px 2px 10px black;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    position: static;
    padding: 2.28vh 0 0 0;

    z-index: 10;
    bottom: 3.62vh;
    left: 4.56vh;
    text-transform: uppercase;
}

.c-projects__title {
    margin-right: 0.76vh;
}

.c-projects__title {
    color: #fff;
    margin-bottom: 0.5vh !important;
    font-family: 'Abel';
    font-size: 2vh;
    letter-spacing: .1vh;
    line-height: 1.3;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}

.c-projects__tags {
    color: #efc621;
    display: block;
    font-size: 1.3vh;
    margin: 0;
    opacity: 0.7;
    list-style-type: none;
    padding: 0 3.04vh 0 0;
}

.c-projects__tags:before {
    content: '-';
    margin: 0 0.76vh 0 0;
}

.c-projects__tags-2::after {
    content: '-';
    margin: 0 0 0 0.76vh;
}

.c-design-link:hover .c-projects__underline,
.c-design-link:active .c-projects__underline 
{
    width: 100%;
}

.c-design-link:hover .c-projects__triangle,
.c-design-link:active .c-projects__triangle
{
    opacity: 1;
}

.c-footer
{
    padding: 5.64vh 0;
    display: block;
    background: #0B0B0B;
    position: relative;
    margin-top: 4vh;
}

.sites-constraint
{
    padding-left: 0;
    padding-right: 0;

    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.sites-constraint-relative
{
    position: relative;
}
.large-one-third
{
    width: 33.333%;
}

.c-footer-twitter
{
    padding-left: 0;
    margin: 0;
}

.c-footer-twitter-heading
{
    font-size: 2vh;
    letter-spacing: 0.2vh;
    margin-bottom: 1.52vh;
    text-align: center;
}

.links
{
    font-size: 1vh !important;
}

.c-footer-tweet
{
    height: 18.26vh;
    margin-bottom: 1.52vh;
    color: #fff;
    font-style: italic;
}

.e-button--no-margin 
{
    margin: 0 !important;
}

.e-button--border-white 
{
    border: 0.15vh solid rgba(255,255,255,0.2);
    position: relative;
}

.e-button--border-white:before 
{
    top: -0.15vh;
    left: -0.15vh;
}

.e-button--border-white:after
{
    top: -0.15vh;
    right: -0.15vh;
}

.e-button--border-white:after,
.e-button--border-white:before 
{
    background: #fff;
    content: '';
    display: block;
    position: absolute;
    height: 0.15vh;
    width: 0.15vh;
    transition: all 0.3s ease-in-out;
}

.e-button--border-white .e-button__text:before 
{
    bottom: -0.15vh;
    left: -0.15vh;
}

.e-button--border-white .e-button__text:after,
.e-button--border-white .e-button__text:before 
{
    background: #fff;
    content: '';
    display: block;
    position: absolute;
    height: 0.15vh;
    width: 0.15vh;
}

.e-button--border-white .e-button__text:after {
    bottom: -0.15vh;
    right: -0.15vh;
}

.c-footer-twitter:before {
    background: #494949;
    content: '';
    display: block;
    height: 0.15vh;
    margin-bottom: 2.28vh;
    width: 100%;
}

.modal-style
{
    opacity: 0.9;
    background-color: black !important;
    color: white;
}

.modal-image
{
    width: 50%;
    height: 37vh;
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
}

.modal-p
{
    width: 50%;
    float: right;
    padding: 2vh;
    padding-top: 0;
    font-size: 2vh;
}

.modal-header-style
{
    font-size: 1.25vh;
    letter-spacing: 0.3vh;
    text-transform: uppercase;
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    align-content: center;
    align-items: center;
    justify-content: center;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active 
{
    color: white !important;
    background-color: #1B1B1B !important;
    border-color: #1B1B1B !important;
    font-size: 1.3vh;
    letter-spacing: 0.3vh;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-tabs
{
    border-bottom: 1px solid #1B1B1B !important;
}

.nav-tabs .nav-link
{
    color: white !important;
    font-size: 1.3vh;
    letter-spacing: 0.3vh;
    text-decoration: none;
    text-transform: uppercase;
}

.card
{
    background-color: #1B1B1B !important;
}

.btn-link
{
    color: white !important;
}

.btn-link:hover
{
    text-decoration: none !important;
    font-weight: 700 !important;
}

.btn-link:focus, .btn-link:active
{
    text-decoration: none !important;
    font-weight: 700 !important;
}

#sub-frame-error
{
    background-color: #1B1B1B !important;
}

.c-blog
{
    padding-top: 2.5rem;
}

.large-three-quarter
{
    width: 75%;
}

.large-two-quarter
{
    width: 60%;
}

.large-1-quarter
{
    width: 40%;
}

.large-one-quarter
{
    width: 25%;
}

.c-blog-detail-copy
{
    padding-top: 5vh !important;
    padding: 5vh;
    background: #323232;
}

.c-blog-detail-title
{
    font-size: 3.75rem;

    color: #fff;
    font-size: 3vh;
    font-weight: 200;
    line-height: 1;
    margin-bottom: .3vh;
    -webkit-font-smoothing: antialiased;
}

.b-heading-large
{
    font-family: 'Abel';
}

.b-editorial
{
    -webkit-font-smoothing: antialiased;
}

.b-editorial p 
{
    line-height: 1.6;
    margin-bottom: 1.5vh;
    color: #999;
    font-size: 1.5vh;
}

/* .b-editorial>:last-child 
{
    margin-bottom: 0;
} */

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin-top: 3vh;
}

.c-blog-sidebar
{
    background: #1B1B1B;
    margin-bottom: 1vh;
    background-size: 100% auto;
    /* padding-bottom: 31vh; */
    padding-bottom: 0;
}

.c-blog-article
{
    background: #323232;
    margin-bottom: 1.25rem;
}

.c-blog-article-inline
{
    margin: 0;
}

.c-blog-article-link
{
    color: #999;
    display: block;
    overflow: hidden;
    position: relative;
}

.c-blog-article-link:before {
    z-index: 1;
    background: #0cf;
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    right: 0;
    width: 0;
}

.grid-article-full
{
    margin-left: 0;
}

.grid-article-full>.grid-item 
{
    padding-left: 0;
}

.c-blog-article-thumbnail
{
    overflow: hidden;
    position: relative;
}

.c-blog-detail-image
{
    display: block;
    width: 100%;
}

.c-blog-article-image
{
    display: block;
    width: 100%;
}

.c-blog-article-copy
{
    padding: 2vh 3vh 7vh;
}

.c-blog-article-data
{
    color: #0cf;
    display: block;
    font-size: .875rem;
    margin-bottom: .3125rem;
}

.c-blog-article-summary
{
    line-height: 1.5;
    font-size: 1.5vh;
    margin-bottom: 2.06vh;
}

.c-blog-article-cta 
{
    bottom: 40px;
    left: 40px;
}

.c-blog-article-cta 
{
    bottom: 3vh;
    left: 3vh;
    padding-left: 3vh;
    padding-right: 3vh;
    position: absolute;
    width: auto;
}

.e-button-border-white:before 
{
    top: -1px;
    left: -1px;
}

.e-button-border-white:after,
.e-button-border-white:before 
{
    /*background: #fff;*/
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    width: 1px;
    transition: all 0.3s ease-in-out;
}

.c-blog-article-link:after {
    bottom: -3px;
    content: '';
    display: block;
    position: absolute;
    right: -13px;
    transform: rotate(135deg);
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #505050;
}

.c-blog-detail-date {
    color: #0cf;
    display: block;
    font-size: 1.5vh;
    margin-bottom: 1vh;
}
 
.video-container iframe, 
.video-container object, 
.video-container embed 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.c-blog-article-title {
    color: #fff;
    font-size: 2vh;
    margin-bottom: .1vh;
    -webkit-font-smoothing: antialiased;
}

.c-blog-article-link:hover:before,
.c-blog-article-link:focus:before,
.c-blog-article-link:active:before 
{
    width: 100%;
    color: #999;
}

.c-blog-article-link:hover:after,
.c-blog-article-link:focus:after,
.c-blog-article-link:active:after 
{
    border-bottom: 20px solid #0cf;
    color: #999;
}

a:hover
{
    color: #999 !important;
}

.e-button-border-white:before,
.e-button-text:after:before,
.e-button-border-white:before,
.e-button-text:before
{
    background: #fff;
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    width: 1px;
}

.e-button-border-white::after,
.e-button-text:after::after,
.e-button-border-white::after,
.e-button-text::after
{
    background: #fff;
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    width: 1px;
}

.e-button-border-white:before,
.e-button-text:before 
{
    bottom: -1px;
    left: -1px;
}

.e-button-border-white::after,
.e-button-text::after 
{
    bottom: -1px;
    left: -1px;
}

.p-white-profile
{
    color: white !important;
    text-align: center;
}

.a-game:hover
{
    text-decoration: none !important;
    color: white !important;
}

.article-contacto
{
    height: 36vh;
    background-color: #1B1B1B;
    box-shadow: 1px 1px 5px 0px white;
}

.icon-contact
{
    width: 13vh;
    height: 13vh;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 6vh;
}

.p-contact
{
    text-align: center !important;
    color: white !important;
    font-weight: 500;
    text-transform: uppercase;

    position: absolute;
    top: 25vh;
}

.p-desc-exp
{
    color: #999;
    margin-top: 0vh;
    margin-left: 0vh;
    font-size: 1.3vh;
    padding-right: 7vh;
}

.p-fecha-exp
{
    margin-top: -1.5vh;
    font-size: 1.5vh;
    color: #0cf;
}

.not-active
{
    cursor: not-allowed; 
}

html
{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}