<div class="container">
    <div class="sites-constraint sites-constraint-relative">
        <div class="grid">
            <div class="grid-item one-whole large-one-third" style="padding-right: 10px;">
                <div class="c-footer-twitter">
                    <h2 class="c-footer-twitter-heading b-heading b-heading-xlarge">
                        <span class="twitter">Twitter</span>
                    </h2>
                    <div class="c-footer__tweet">
                    </div>
                    <a href="http://twitter.com/rufuus06" class="e-button e-button--border e-button--border-white e-button--no-margin links">
                        <span class="e-button__text">Follow</span>
                    </a>
                </div>
            </div>

            <div class="grid-item one-whole large-one-third" style="padding-inline: 10px;">
                <div class="c-footer-twitter">
                    <h2 class="c-footer-twitter-heading b-heading b-heading-xlarge" style="display: flex; justify-content: center;">
                        <span class="twitter">Instagram</span>
                    </h2>
                    <div class="c-footer__tweet">
                    </div>
                    <a href="http://instagram.com/rufuus06" class="e-button e-button--border e-button--border-white e-button--no-margin links">
                        <span class="e-button__text">Follow</span>
                    </a>
                </div>
            </div>

            <div class="grid-item one-whole large-one-third" style="padding-left: 10px;">
                <div class="c-footer-twitter">
                    <h2 class="c-footer-twitter-heading b-heading b-heading-xlarge">
                        <span class="twitter">Youtube</span>
                    </h2>
                    <div class="c-footer__tweet">
                    </div>
                    <a href="https://www.youtube.com/channel/UCBKD4L5iVcKpYUAHTVcju8w" class="e-button e-button--border e-button--border-white e-button--no-margin links">
                        <span class="e-button__text">Follow</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>