<a href="../../index.html" class="navbar-custom-icon">
    <img class="img-logo" src="../../img/Logo-Rufuus.png">
</a>

<ul id="Navigation" class="navbar-custom-options">
    <li id="li-0" class="navbar-custom-items navbar-custom-items--home">
        <a href="../../index.html" aria-current="page">
            <img class="home-icon home-icon-active" src="../../img/home.png" alt="" style="margin-inline: 10px; width: 25% !important; height: auto !important;">
        </a>
    </li>
    <li id="li-1" class="navbar-custom-items"><a href="../../views/game/index.html">Juego</a></li>
    <li id="li-2" class="navbar-custom-items"><a href="../../views/documentacion/index.html">Documentación</a></li>
    <li id="li-3" class="navbar-custom-items"><a href="../../views/perfil/index.html">Perfil</a></li>
    <li id="li-4" class="navbar-custom-items"><a href="../../views/contacto/index.html">Contacto</a></li>
</ul>