<!-- <a href="../../" class="navbar-custom-icon">
    <img class="img-logo" src="../../img/Logo-Rufuus.png">
</a>

<ul id="Navigation" class="navbar-custom-options">
    <li id="li-0" class="navbar-custom-items navbar-custom-items--home">
        <a href="../../" aria-current="page">
            <img class="home-icon home-icon-active" src="../../img/home.png" alt="" style="margin-inline: 10px; width: 25% !important; height: auto !important;">
        </a>
    </li>
    <li id="li-1" class="navbar-custom-items"><a href="../../views/game">Juego</a></li>
    <li id="li-2" class="navbar-custom-items"><a href="../../views/documentacion">Documentación</a></li>
    <li id="li-3" class="navbar-custom-items"><a href="../../views/perfil">Perfil</a></li>
    <li id="li-4" class="navbar-custom-items"><a href="../../views/contacto">Contacto</a></li>
</ul> -->

<div class="container-fluid container-fluid-no-padding height-inherit">
    <a href="../../" class="navbar-custom-icon navbar-brand">
        <img class="img-logo" src="../../img/Logo-Rufuus.png">
    </a>
    
    <button class="navbar-toggler navbar-toggler-custom" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse height-inherit" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto w-100">
        </ul>

        <ul id="Navigation" class="navbar-nav me-auto mb-2 mb-lg-0 navbar-custom-options">
            <li id="li-0" class="nav-items navbar-custom-items navbar-custom-items--home">
                <a class="home-icon-a" href="../../" aria-current="page">
                    <img class="home-icon home-icon-active" src="../../img/casa.png" alt="Inicio">
                </a>
                <a class="home-text-a" href="../../" aria-current="page">
                    Inicio
                </a>
            </li>
            <li id="li-1" class="nav-item navbar-custom-items game-tab"><a href="../../views/game">Juego</a></li>
            <li id="li-2" class="nav-item navbar-custom-items"><a href="../../views/documentacion">Documentación</a></li>
            <li id="li-3" class="nav-item navbar-custom-items"><a href="../../views/perfil">Perfil</a></li>
            <li id="li-4" class="nav-item navbar-custom-items"><a href="../../views/contacto">Contacto</a></li>
        </ul>
    </div>
</div>